:root {
  --clr-userInput: hsl(80, 100%, 80%);
  --inputBorder: 2px solid hsl(80, 100%, 35%);
}

.form__fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  min-width: 400px;
  border: var(--inputBorder);
  background-color: hsl(0, 0%, 100%);
  -webkit-box-shadow: 10px 10px 25px 0px rgba(117, 117, 117, 1);
  -moz-box-shadow: 10px 10px 25px 0px rgba(117, 117, 117, 1);
  box-shadow: 10px 10px 25px 0px rgba(117, 117, 117, 1);
}

@media (max-width: 450px) {
  .form__fieldset {
    min-width: 300px;
  }
}

.fieldset__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.fieldset__paragraph {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fieldset__input {
  outline: none;
  border: var(--inputBorder);
  border-radius: 10px;
  padding: 8px;
  max-width: 100px;
  background-color: var(--clr-userInput);
}

.fieldset__select {
  outline: none;
  border: var(--inputBorder);
  border-radius: 10px;
  padding: 8px;
  background-color: var(--clr-userInput);
  cursor: pointer;
}

.fieldset__button {
  outline: none;
  border: var(--inputBorder);
  border-radius: 10px;
  padding: 8px;
  margin: 0 5px;
  background-color: var(--clr-userInput);
  transition: 0.5s ease;
  cursor: pointer;
}

.fieldset__button:hover {
  transform: scale(1.05);
}

.form__paragraph--italic {
  font-size: 14px;
  font-style: italic;
}
.result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  text-align: center;
}

.result__span {
  font-weight: bold;
}
