.form__fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  min-width: 400px;
  border: 2px solid hsl(0, 7%, 71%);
}

@media (max-width: 450px) {
  .form__fieldset {
    min-width: 300px;
  }
}

.fieldset__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.fieldset__paragraph {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fieldset__input {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 8px;
  max-width: 100px;
  background-color: hsl(0, 7%, 71%);
}

.fieldset__select {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 8px;
  background-color: hsl(0, 7%, 71%);
  cursor: pointer;
}

.fieldset__button {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 8px;
  margin: 0 5px;
  background-color: hsl(0, 7%, 71%);
  cursor: pointer;
}

.form__paragraph--italic {
  font-size: 14px;
  font-style: italic;
}
.result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  text-align: center;
}

.result__span {
  font-weight: bold;
}
