.form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 30px;
}

.form__fieldset {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.form__label {
  display: inline-block;
  min-width: 250px;
  margin-right: 10px;
}

.form__input {
  border: 1px solid hsl(0, 0%, 0%);
  outline: none;
  max-width: 250px;
  border-radius: 5px;
}

.form__button {
  outline: none;
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 5px;
  padding: 10px;
  background-color: hsl(180, 100%, 97%);
}
