html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-image: url(./img/bgImage.png);
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: hsl(208, 100%, 97%);
  background-color: hsl(0, 0%, 30%);
}
